@import "./variables.css";

html {
  font-size: var(--font-size-base);

  &.ovl {
    size: 100%;

    body {
      size: 100%;
      color: var(--dark);
    }
  }
}

@import "./global.css"
@import "./mixins.css"