@import "./variables.css";

@define-mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}

@define-mixin dark-theme {
  background-color: var(--dark-grey);
  color: color(white lightness(98%));

  h1, h2, h3, h4 {
    color: rgb(255, 227, 0);
  }
}

@define-mixin card {
  border: 1px solid color(var(--dark-grey) a(-80%)) !important;
  border-radius: var(--border-radius);
  background: color(white lightness(99%));
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 8px;
}
