:root {

  /* Typography */
  --system-font: -apple-system,".SFNSDisplay-Regular","Helvetica Neue","Roboto","Segoe UI",sans-serif;
  --system-font-bold: -apple-system,".SFNSDisplay-Bold","Helvetica Neue","Roboto","Segoe UI",sans-serif;
  --font-size-base: 16px;

  /* Colors */
  --mango: rgba(249, 178, 51, 1);
  --light-mango: rgba(249, 198, 71, 1);
  --dark: rgba(0, 0, 0, 0.75);
  --dark-grey: rgba(68,68,68,1);
  --light-grey: rgba(220, 221, 212, 0.2);
  --greyish: rgba(172, 172, 172, 1);
  --brownish-grey: rgba(102, 102, 102, 1);
  --silver: rgba(211,211,214,1);

  /* Units */
  --border-radius: 0.25rem; /* 4px */
  --big-gutter: 1.875rem; /* 30px */
  --medium-gutter: 0.9375rem;  /* 15px */
  --small-gutter: 0.3125rem; /* 5px */

  /* Custom media queries */
  @custom-media --phone (width <= 33.9em);
  @custom-media --landscape-phone (width <= 47.9em);
  @custom-media --tablet (width <= 61.9em);
  @custom-media --desktop (width >= 62em);

}