@import '../../../../assets/css/variables.css';
@import '../../../../assets/css/mixins.css';

.card {
  height: 160px;
  cursor: pointer;
  @mixin card;
  box-shadow: none;

  &:hover {
    background-color: #fffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

global:.caption {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;

  .image {
    flex-grow: 0;
    width: calc(20% - 8px);
    margin-right: 16px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../../assets/images/no_image.png');
    max-height: 92px;
  }

  .description {
    flex-grow: 0;
    overflow: hidden;
    width: calc(80% - 8px);

    .title {
      width: 100%;
      margin-top: 0;
      font-size:var(--font-size-base);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .body {
      margin-top: 0;
      font-size:calc(var(--font-size-base) - 3);
      overflow: hidden;
      max-height: 50px;
    }
  }
}
