@import '../../../assets/css/variables.css';

.root {
  border-top: 1px solid var(--dark);

  h1 {
    font-size: calc(var(--font-size-base) + 4);
  }

  .empty {
    font-size: calc(var(--font-size-base));
  }
}

.comments {
  div:last-child {
    border-bottom: none;
  }
}