@import '../../../assets/css/variables.css';

.root {
  h2 {
    &.author {
      font-size: calc(var(--font-size-base) - 2);
      text-align: right;
    }
  }

  p {
    &.comment {
      font-size: calc(var(--font-size-base) - 4);
    }
  }

  border-bottom: 1px solid var(--silver);
}