@import '../../assets/css/variables.css';
@import '../../assets/css/mixins.css';

.root-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
.wrapper {
  height: 100%;
}

.floatbox {
  @mixin card;
  margin-top: -24px;
  margin-right: -16px;
  z-index: 999;
  width: 500px;
  float: right;

  &:before {
    content: '';
    position: absolute;
    margin-top: -24px;
    right: 32px;

    width: 0; 
    height: 0; 
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    
    border-bottom: 16px solid #ffffff;;
  }
  &.visible {

  }
}

.floatbox .header h3 {
  color: #666666;
  margin: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #666666;
}


.floatbox .body {
  color: #666666;
  margin-top: 16px;
}

.close-button {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
}