@import '../../../../assets/css/variables.css';

.container {
	margin-top: 80px;
}

.card-column-container {
  padding: 0;
}

.description {
  width: 100%;
  margin: 0 0 8px 0;
  font-size: calc(var(--font-size-base) - 2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.release {
	float: right;
  font-size: calc(var(--font-size-base) - 4);
}